.containerDiv
  margin: 5%
  margin-top: 70px

  .wrapper
    display: flex
    justify-content: space-between
    width: 100%
    
    .listOfItems
      display: flex
      flex-wrap: wrap
      padding: 20px
      background-color: #fff
      width: 70%

    .sideDiv
      width: 28%
      height: 200px
      padding: 20px
      border: 1px solid #ddd
      background-color: #fff

      .button
        width: 100%
        margin-bottom: 10px
      
      .totalPrice
        display: flex
        justify-content: space-between