<div class="containerDiv">
  <h3>Shopping basket</h3>
  <div class="wrapper">

    <ng-template [ngIf]="mobiles" [ngIfElse]="emptyBasket">
      <div class="listOfItems">
        <div class="card col-md-12" *ngFor="let mobile of mobiles">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img [src]="mobile.pictures[0]" class="card-img" alt="...">
              </div>
              <div class="col-md-3">
                <div class="card-body">
                  <h5 class="card-title">{{ mobile.brand }} {{ mobile.model }}</h5>
                </div>
              </div>
              <div class="priceDiv col-md-3">
                <p>Price: {{ mobile.price }} Ft</p>
              </div>
              <div class="buttonDiv col-md-3">
                <button type="button" class="btn btn-secondary" (click)="removeItem(mobile.key)">Remove Item</button>
              </div>
            </div>
          <hr>
        </div>
      </div>
    </ng-template>
    <ng-template #emptyBasket>
      <div class="emptyBasketDiv">
        <h3>Your shopping basket is empty</h3>
      </div>
    </ng-template>

    <div class="sideDiv">
      <app-confirm-purchase class="button"></app-confirm-purchase>
      <button type="button" class="btn btn-light button" (click)="onRedirect('')">Continue shopping</button>
      <div class="totalPrice">
        <h4>Total</h4>
        <h4>{{ totalPrice }}  Ft</h4>
      </div>
    </div>
  </div>
</div>
