@import "../../../../variables.sass"

.list-items
  width: 75%
  align-self: center
  float: right
  margin-right: 5%
  display: flex
  @media screen and (max-width: $break-large)
    margin: 0
    justify-content: center
    width: 100%
