.header
  align-items: center
  background-color: #fff
  border-bottom: 1px solid #ddd
  display: flex
  flex-direction: row
  height: 60px
  justify-content: space-between
  margin: 0
  padding: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 1

  .logo
    display: flex
    align-items: center
    cursor: pointer
    margin-left: 2%
    height: 100%
    width: 200px
    min-width: 200px

    img
      width: 100%
  
  .shoppingCart
    margin-right: 5%
    font-size: 2em
    color: green
    cursor: pointer