<div class="card mb-3" style="max-width: 540px; border: none">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../../assets/nokia-3310.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title">Nokia 3310</h5>
          <div class="quantityDiv">
            <p>Qty</p>
            <input class="quantity" min="1" name="quantity" value="1" type="number">
          </div>
        </div>
      </div>
      <div class="priceDiv">
        <p>Price: ? Ft</p>
      </div>
      <div class="buttonDiv col-md-4">
        <button type="button" class="btn btn-secondary">Secondary</button>
      </div>
    </div>
    <hr>
  </div>
