@import "../../../../variables.sass"

.main_container
  display: flex
  flex-direction: row
  justify-content: center
  padding: 5%
  @media screen and (max-width: $break-medium)
    flex-direction: column
    width: 91%
    margin: auto

  .imageAndDesc
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 5%

    .main
      font-size: 30px
      font-weight: 600
      color: #333

    .image
      object-fit: contain
      width: 100%
      max-width: 700px
      height: 250px

    .price
      font-size: 40px
      font-weight: 800
      color: #333

    .thumbnails
      display: flex
      justify-content: space-between
      width: 80%

      .btn
        display: flex
        justify-content: center
        align-items: center
        width: 30%

        .thumbnail
          object-fit: contain
          height: 50px
          max-width: 90%
          @media screen and (max-width: $break-medium)
            max-width: 50px


  .description
    margin-left: 10px
    margin-top: 20px
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 30px

    button
      margin-top: 15px

    .text
      margin: 0
      padding: 0
      color: #555

      .data
        font-weight: 700
