<div class="row">
  <div class="card col-11 col-sm-5 col-lg-3" *ngFor="let phone of phones">
    <img class="card-img-top" src="{{ phone.pictures[0] }}" alt="Card image cap" />
    <a class="btn btn-success cart" (click)="addPhoneToCart(phone)"><i class="fas fa-cart-plus shoppingCart"></i></a>
    <div class="card-body">
      <h5 class="card-title">{{ phone.brand }} {{ phone.model }}</h5>
      <h3 class="card-text">{{ phone.price | price }} Ft</h3>
      <a class="btn btn-outline-success" (click)="selectOnePhone(phone)">View description</a>
    </div>
  </div>
</div>
<div class="pagination">
  <nz-pagination [(nzPageIndex)]="current" [nzTotal]="50" [nzSize]="'small'"></nz-pagination>
</div>
