<div class="row">
    <div class="card col-11 col-sm-5 col-lg-3" *ngFor="let phone of phones">
        <img class="card-img-top" src="{{phone.pictures[0]}}" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{phone.brand}} {{phone.model}}</h5>
          <h3 class="card-text">
            {{phone.price}} Ft
          </h3>
          <a class="btn btn-outline-primary" (click)='selectOnePhone(phone)'>View description</a>
          <a class="btn btn-success" (click)='addPhoneToCart(phone)'>Add to Shopping Cart</a>
        </div>
        
      </div>
</div>
<nz-pagination
  *ngIf="phones"
      [(nzPageIndex)]="current"
      [nzTotal]="phones.length"
      nzShowSizeChanger
      [nzPageSizeOptions]	= "[1,5,10]"
></nz-pagination>

